---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Pagina no Encontrada - Error 404 - Energías Digital SPA"
  description=""
>
  <section class="max-w-screen-xl mt-10 mx-auto p-4"></section>
</Layout>
