---
import Carousel from "../components/Carousel.astro";
import Presentation from "../components/Presentation.astro";
import Card_Services from "../components/Card_Services.astro";
import Carousel_Projects from "../components/Carousel_Projects.astro";
import Card_Projects from "../components/Card_Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Bienvenido a Energías Digital SPA"
  description="Instalación seguridad electronica, telecomunicaciones y Corrientes débiles para grandes empresas, pequeñas empresas y particulares."
>
  <Carousel />
  <main class="max-w-screen-xl mt-10 mx-auto p-4">
    <Presentation />
    <hr class="my-10" />
    <div class="flex items-center">
      <h3 class="text-4xl mb-9 font-semibold">Alguno de Nuestros Servicios</h3>
      <h3 class="text-5xl mb-9 font-semibold">👌</h3>
    </div>
    <Card_Services />
    <hr class="my-10" />
    <Carousel_Projects />
    <Card_Projects />
  </main>
  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />
</Layout>
