---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import Presentation from "../components/Presentation.astro";
import Carousel_Projects from "../components/Carousel_Projects.astro";
import Card_Services from "../components/Card_Services.astro";
import Card_Projects from "../components/Card_Projects.astro";
import Button_Whatsapp from "../components/Button_Whatsapp.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Bienvenido a Energías Digital SPA"
  description="Instalación seguridad electrónica, telecomunicaciones y Corrientes débiles para grandes empresas, pequeñas empresas y particulares."
>
  <Carousel />

  <Button_Whatsapp />

  <main class="max-w-screen-xl mt-10 mx-auto p-4">
    <section>
      <Presentation />
      <Carousel_Projects />
    </section>
  </main>

  <section class="bg-gradient-to-b from-red-500 to-white">
    <div class="max-w-screen-xl mx-auto px-4 pt-20">
      <h2 class="text-white sm:text-4xl text-3xl mb-20 font-bold">
        COTIZA NUESTROS SERVICIOS <span class="sm:text-5xl text-4xl">👌🏻</span>
        <hr class="w-48 h-1 my-4 bg-white border-0 rounded" />
      </h2>
      <Card_Services />
    </div>
  </section>
  <section class="max-w-screen-xl mx-auto px-4">
    <p class="pt-14 text-lg text-pretty">
      Somos <i
        >especialistas en seguridad electrónica y proyectos de edificación.</i
      >
      <b>Diseñamos e instalamos sistemas</b> de alarma contra incendios, cámaras
      de vigilancia de alta definición y redes de cableado estructurado a medida.
      Nuestra experiencia y el uso de las últimas tecnologías nos permiten ofrecerte
      <b>soluciones personalizadas y confiables</b>. ¡Contáctenos hoy mismo y
      descubre cómo podemos ayudarte a proteger lo que más valoras!
    </p>
  </section>
  <hr class="max-w-screen-xl mx-auto px-4 mt-20" />
  <section class="max-w-screen-xl mx-auto px-4 pt-20">
    <div class="">
      <h2 class="text-4xl mb-9 font-semibold">
        Últimos Proyectos <span class="text-5xl">🛠️</span>
        <hr class="w-48 h-1 my-4 bg-yellow-300 border-0 rounded" />
      </h2>
      <Card_Projects />
    </div>
  </section>
  <hr class="max-w-screen-xl mx-auto px-4" />

  <Footer />
</Layout>
