---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Políticas de Privacidad - Energías Digital SPA" description="">
  <section class="max-w-screen-xl mt-10 mx-auto p-4"></section>
</Layout>
