---
import Img_Seguridad from "../components/icons/Img_Seguridad.astro";
import Icon_Whatsapp from "./icons/Icon_Whatsapp.astro";
---

<!-- Item 1 -->
<div class="flex md:flex-row flex-col justify-between">
  <div
    class="relative h-[650px] max-w-sm overflow-hidden rounded-xl border border-gray-50 p-[2px] backdrop-blur-3xl md:mt-10"
  >
    <span
      class="absolute inset-[-1000%] animate-[spin_5s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#fcd34d_0%,#fcd34d_50%,#0000_100%)]"
    ></span>
    <div
      class="inline-flex h-full w-full bg-gray-50 justify-center rounded-xl px-3 py-1 text-sm font-medium backdrop-blur-3xl"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quaerat
      accusantium nostrum, aut, consequatur iste atque dolores pariatur porro
      molestias repellendus ducimus mollitia ab ad libero odio perferendis
      delectus tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Molestias facilis inventore distinctio eum qui sequi labore adipisci?
      Autem quasi minima aliquid excepturi cum, commodi ipsam voluptates dolore!
      Ullam, tempora corrupti!
    </div>
  </div>

  <!-- Item 2 -->
  <div
    class="relative h-[650px] max-w-sm overflow-hidden rounded-xl border border-gray-50 p-[2px] backdrop-blur-3xl md:my-0 my-10"
  >
    <span
      class="absolute inset-[-1000%] animate-[spin_5s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#ef4444_0%,#ef4444_50%,#0000_100%)]"
    ></span>
    <div
      class="inline-flex h-full w-full bg-gray-50 justify-center rounded-xl backdrop-blur-3xl py-2 px-4"
    >
      <div class="flex flex-col w-full">
        <Img_Seguridad class="h-52" />
        <div></div>
        <h2 class="text-center text-2xl font-bold">Seguridad Electronica</h2>
        <hr class="my-4" />
        <p class="text-gray-700">
          Instalación de aparatos de seguridad para proteger todo tipo de
          proyecto.
        </p>
        <div class="my-8">
          <ul class="list-disc px-7">
            <li>Cámaras de seguridad (CCTV)</li>
            <li>Sensores de movimiento</li>
            <li>Rayos lineales</li>
            <li>Cercos eléctricos</li>
            <li>Control de acceso biométrico</li>
            <li>Alarmas antirrobo</li>
            <li>Otros</li>
          </ul>
        </div>
        <div>
          <a
            href=""
            target="_blank"
            type="button"
            class="px-5 mx-auto md:mx-0 py-2.5 font-medium text-white inline-flex items-center justify-center bg-red-500 hover:bg-red-400 shadow-xl focus:ring-4 focus:outline-none focus:ring-red-400 rounded-lg w-auto transition-all"
          >
            <Icon_Whatsapp class="size-6 md:size-6 me-2" />
            Cotizar instalación
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Item 3 -->
  <div
    class="relative h-[650px] max-w-sm overflow-hidden rounded-xl border border-gray-50 p-[2px] backdrop-blur-3xl md:mt-10"
  >
    <span
      class="absolute inset-[-1000%] animate-[spin_5s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#fcd34d_0%,#fcd34d_50%,#0000_100%)]"
    ></span>
    <div
      class="inline-flex h-full w-full bg-gray-50 justify-center rounded-xl px-3 py-1 text-sm font-medium backdrop-blur-3xl"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quaerat
      accusantium nostrum, aut, consequatur iste atque dolores pariatur porro
      molestias repellendus ducimus mollitia ab ad libero odio perferendis
      delectus tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Molestias facilis inventore distinctio eum qui sequi labore adipisci?
      Autem quasi minima aliquid excepturi cum, commodi ipsam voluptates dolore!
      Ullam, tempora corrupti!
    </div>
  </div>
</div>
