---
import Img_Seguridad from "../components/icons/Img_Seguridad.astro";
import Img_Telecomunicaciones from "../components/icons/Img_Telecomunicaciones.astro";
import Img_Corrientes_Debiles from "../components/icons/Img_Corrientes_Debiles.astro";
import Icon_Whatsapp from "./icons/Icon_Whatsapp.astro";
---

<!-- Item 1 -->
<div class="flex lg:flex-row flex-col justify-between items-center">
  <div
    class="relative h-[650px] max-w-sm overflow-hidden rounded-2xl border-4 border-yellow-300 lg:mt-10 shadow-[-1px_9px_29px_-8px_rgba(0,_0,_0,_0.47)]"
  >
    <div class="inline-flex h-full w-full bg-white justify-center py-2 px-4">
      <div class="flex flex-col w-full">
        <Img_Corrientes_Debiles class="h-52" />
        <div></div>
        <h3 class="text-center text-2xl font-bold">Corrientes Débiles</h3>
        <hr class="my-4" />
        <p class="text-gray-700">
          Automatización, cableado y estructurado para todo tipo de proyectos.
        </p>
        <div class="my-8">
          <ul class="list-disc px-7">
            <li>Alarmas anti incendio</li>
            <li>Portones automáticos</li>
            <li>Citofonía y timbres</li>
            <li>Automatizaciones</li>
            <li>Perifoneo</li>
            <li>Otros</li>
            <br />
          </ul>
        </div>
        <div>
          <a
            href=""
            target="_blank"
            type="button"
            class="px-5 mx-auto md:mx-0 py-2.5 font-medium text-black inline-flex items-center justify-center bg-yellow-300 hover:bg-yellow-200 shadow-xl focus:ring-4 focus:outline-none focus:ring-yellow-200 rounded-lg w-auto transition-all"
          >
            <Icon_Whatsapp class="size-6 md:size-6 me-2" />
            Cotizar instalación
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Item 2 -->
  <div
    class="relative h-[650px] max-w-sm overflow-hidden rounded-2xl border-4 border-red-500 lg:my-0 my-10 shadow-[-1px_9px_29px_-8px_rgba(0,_0,_0,_0.47)]"
  >
    <div class="inline-flex h-full w-full bg-gray-50 justify-center py-2 px-4">
      <div class="flex flex-col w-full">
        <Img_Seguridad class="h-52" />
        <div></div>
        <h3 class="text-center text-2xl font-bold">Seguridad Electronica</h3>
        <hr class="my-4" />
        <p class="text-gray-700">
          Instalación de aparatos de seguridad para proteger todo tipo de
          proyecto.
        </p>
        <div class="my-8">
          <ul class="list-disc px-7">
            <li>Cámaras de seguridad (CCTV)</li>
            <li>Sensores de movimiento</li>
            <li>Rayos lineales</li>
            <li>Cercos eléctricos</li>
            <li>Control de acceso biométrico</li>
            <li>Alarmas antirrobo</li>
            <li>Otros</li>
          </ul>
        </div>
        <div>
          <a
            href=""
            target="_blank"
            type="button"
            class="px-5 mx-auto md:mx-0 py-2.5 font-medium text-white inline-flex items-center justify-center bg-red-500 hover:bg-red-400 shadow-xl focus:ring-4 focus:outline-none focus:ring-red-400 rounded-lg w-auto transition-all"
          >
            <Icon_Whatsapp class="size-6 md:size-6 me-2" />
            Cotizar instalación
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Item 3 -->
  <div
    class="relative h-[650px] max-w-sm overflow-hidden rounded-2xl border-4 border-yellow-300 lg:mt-10 shadow-[-1px_9px_29px_-8px_rgba(0,_0,_0,_0.47)]"
  >
    <div class="inline-flex h-full w-full bg-gray-50 justify-center py-2 px-4">
      <div class="flex flex-col w-full">
        <Img_Telecomunicaciones class="h-52" />
        <div></div>
        <h3 class="text-center text-2xl font-bold">Telecomunicaciones</h3>
        <hr class="my-4" />
        <p class="text-gray-700">
          Estructurado y cableado de aparatos de comunicación para grandes
          proyectos.
        </p>
        <div class="my-8">
          <ul class="list-disc px-7">
            <li>Rit de fibra óptica</li>
            <li>Rit inalámbrica de coaxial</li>
            <li>Rit alámbrica de coaxial</li>
            <li>Puntos de red</li>
            <li>Otros</li>
            <br />
            <br />
          </ul>
        </div>
        <div>
          <a
            href=""
            target="_blank"
            type="button"
            class="px-5 mx-auto md:mx-0 py-2.5 font-medium text-black inline-flex items-center justify-center bg-yellow-300 hover:bg-yellow-200 shadow-xl focus:ring-4 focus:outline-none focus:ring-yellow-200 rounded-lg w-auto transition-all"
          >
            <Icon_Whatsapp class="size-6 md:size-6 me-2" />
            Cotizar instalación
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
