<div
  id="carousel"
  class="relative w-full mt-20"
  data-carousel="slide"
  data-carousel-interval="5000"
>
  <!-- Carousel wrapper -->
  <div class="relative overflow-hidden rounded-lg md:h-[600px] h-[500px] z-10">
    <!-- Item 1 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img
        src="/instalacion_seguridad_electronica.webp"
        class="absolute block w-full h-full object-cover top-0 left-0"
        alt="Técnico instalando cámara de seguridad exterior de alta definición"
        title="Cámaras de seguridad para una vigilancia 24/7"
      />
      <div class="absolute top-0 left-0 w-full h-full bg-gray-950/50"></div>
      <div
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center w-full md:px-24 px-10 md:max-w-screen-2xl"
      >
        <h1 class="text-white text-2xl md:text-6xl font-bold text-pretty">
          Instalación de Seguridad Electronica
        </h1>
        <div class="w-32 md:w-96 mx-auto">
          <hr class="h-1 bg-yellow-300 border-none rounded-2xl" />
        </div>
        <h2 class="text-white font-medium text-lg md:text-2xl text-pretty mt-8">
          <i class="text-yellow-300">Protege</i> tus puntos estratégicos
        </h2>
        <p
          class="text-lg md:text-2xl mt-2 font-light text-pretty py-4 text-white"
        >
          Especializados en la instalación de aparatos de seguridad, protege tu
          negocio y empresa con instalaciones de seguridad potenciadas con IA
        </p>
      </div>
    </div>
    <!-- Item 2 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img
        src="/instalacion_grandes_proyectos.webp"
        class="absolute block w-full h-full object-cover object-top top-0 left-0"
        alt="Instalación y administración para proyectos de corrientes débiles y telecomunicaciones en constructoras y edificios"
        title="Proyectos de construcción industrial a gran escala"
      />
      <div class="absolute top-0 left-0 w-full h-full bg-gray-950/50"></div>
      <div
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center w-full md:px-24 px-10 md:max-w-screen-2xl"
      >
        <h2 class="text-white text-2xl md:text-6xl font-bold text-pretty">
          Grandes Proyectos de Construcción
        </h2>
        <div class="w-32 md:w-96 mx-auto">
          <hr class="h-1 bg-yellow-300 border-none rounded-2xl" />
        </div>
        <h3 class="text-white font-medium text-lg md:text-2xl text-pretty mt-8">
          Servicios de <i class="text-yellow-300">Instalación y configuración</i
          >
        </h3>
        <p
          class="text-lg md:text-2xl mt-2 font-light text-pretty py-4 text-white"
        >
          Proyectos de gran envergadura en telecomunicaciones, seguridad
          electronica, corrientes débiles y automatización para constructoras de
          todo tipo
        </p>
      </div>
    </div>
    <!-- Item 3 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img
        src="/instalacion_telecomunicaciones.webp"
        class="absolute block w-full h-full object-cover object-left-top top-0 left-0"
        alt="Técnico instalando fibra óptica en una oficina"
        title="Instalación y mantenimiento de redes de telecomunicaciones"
      />
      <div class="absolute top-0 left-0 w-full h-full bg-gray-950/50"></div>
      <div
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center w-full md:px-24 px-10 md:max-w-screen-2xl"
      >
        <h2 class="text-white text-2xl md:text-6xl font-bold text-pretty">
          Red Interna de Telecomunicaciones
        </h2>
        <div class="w-32 md:w-96 mx-auto">
          <hr class="h-1 bg-yellow-300 border-none rounded-2xl" />
        </div>
        <h3 class="text-white font-medium text-lg md:text-2xl text-pretty mt-8">
          <i class="text-yellow-300">Mejora y Actualiza</i> tu conexión
        </h3>
        <p
          class="text-lg md:text-2xl mt-2 font-light text-pretty py-4 text-white"
        >
          Mejora tu comunicación a una de alta eficiencia y velocidad con puntos
          de red, fibra óptica, coaxial para tv alámbrica e inalámbrica.
          Instalación limpia y segura
        </p>
      </div>
    </div>
    <!-- Item 4 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img
        src="/instalacion_seguridad_casa_privada.webp"
        class="absolute block w-full h-full object-cover object-top top-0 left-0"
        alt="Cámara de seguridad instalada en la puerta de entrada de una casa"
        title="Instalación de sistema de seguridad en una casa"
      />
      <div class="absolute top-0 left-0 w-full h-full bg-gray-950/50"></div>
      <div
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center w-full md:px-24 px-10 md:max-w-screen-2xl"
      >
        <h2 class="text-white text-2xl md:text-6xl font-bold text-pretty">
          Seguridad para Casas Privadas
        </h2>
        <div class="w-32 md:w-96 mx-auto">
          <hr class="h-1 bg-yellow-300 border-none rounded-2xl" />
        </div>
        <h3 class="text-white font-medium text-lg md:text-2xl text-pretty mt-8">
          Protege tu <i class="text-yellow-300">Hogar y familia</i>
        </h3>
        <p
          class="text-lg md:text-2xl mt-2 font-light text-pretty py-4 text-white"
        >
          Resguarda tu hogar y protege a los que quieres con equipos de ultima
          tecnología como cámaras de seguridad, alarmas anti robo e incendio,
          entre otros aparatos potenciados por IA
        </p>
      </div>
    </div>
  </div>
  <!-- Slider indicators -->
  <div
    class="absolute z-10 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
  >
    <button
      type="button"
      class="w-3 h-3 rounded-full"
      aria-current="true"
      aria-label="Slide 1"
      data-carousel-slide-to="0"></button>
    <button
      type="button"
      class="w-3 h-3 rounded-full"
      aria-current="false"
      aria-label="Slide 2"
      data-carousel-slide-to="1"></button>
    <button
      type="button"
      class="w-3 h-3 rounded-full"
      aria-current="false"
      aria-label="Slide 3"
      data-carousel-slide-to="2"></button>
    <button
      type="button"
      class="w-3 h-3 rounded-full"
      aria-current="false"
      aria-label="Slide 4"
      data-carousel-slide-to="3"></button>
  </div>
  <!-- Slider controls -->
  <button
    type="button"
    class="absolute top-0 start-0 z-10 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-white rtl:rotate-180"
        aria-hidden="true"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 1 1 5l4 4"></path>
      </svg>
      <span class="sr-only">Anterior</span>
    </span>
  </button>
  <button
    type="button"
    class="absolute top-0 end-0 z-10 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-white rtl:rotate-180"
        aria-hidden="true"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4"></path>
      </svg>
      <span class="sr-only">Siguiente</span>
    </span>
  </button>
</div>
