---
import Img_Isotipo from "./icons/Img_Isotipo.astro";
import Icon_Whatsapp from "./icons/Icon_Whatsapp.astro";
---

<div
  class="flex items-center md:flex-row mx-auto w-full justify-between flex-col-reverse"
>
  <div
    class="flex flex-col md:justify-between leading-normal max-w-2xl md:mr-10"
  >
    <h2 class="mb-5 font-black text-black text-center md:text-left">
      <span class="md:text-6xl xl:text-8xl text-5xl block md:mb-1 -mb-1"
        >ENERGÍAS DIGITAL
      </span>
      <span class="md:text-4xl xl:text-5xl text-3xl block text-red-500">
        SPA
      </span>
    </h2>
    <p
      class="text-pretty mb-3 font-normal text-gray-700 md:text-2xl text-xl text-center md:text-left"
    >
      <b class="text-yellow-300">Amplia instalación de servicios</b>, nuestra
      misión es ofrecer solución e innovación efectivas para Seguridad
      Electronica, Corrientes débiles y Telecomunicaciones.
    </p>
  </div>
  <Img_Isotipo
    class="lg:max-w-[500px] md:max-w-[400px] max-w-[250px] md:mb-0 mb-10"
  />
</div>
