---
// Supports weights 100-900
import "@fontsource-variable/montserrat";
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"
    ></script>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light;
  }
  html {
    font-family: "Montserrat Variable", system-ui, sans-serif;
  }
</style>
